body{
    background:rgb(62, 62, 211);
    font: normal 15pt elephant;
}

header{
text-align:center;

}

section{
background: white;
border-radius: 10px;
padding: 15px;
width:500px;
margin:auto;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.13);

}

footer{

    color:white;
    text-align:center;
    font-style: italic;
    
}
div#ttl{
    text-align: center;
}
div#ttl1{
    text-align: center;
}div#hora{
    font:normal 12pt elephant;
}
